In [1]:
from plotly.data import gapminder

df = gapminder(datetimes=True, centroids=True, pretty_names=True)

df["Year"] = df.Year.dt.year

df.head()

,Country,Continent,Year,Life Expectancy,Population,GDP per Capita,ISO Alpha Country Code,ISO Numeric Country Code,Centroid Longitude,Centroid Latitude
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4,65.0,33.0
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4,65.0,33.0
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4,65.0,33.0
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4,65.0,33.0
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4,65.0,33.0

In [3]:
df.shape

(1704, 10)

In [5]:
nan_count = df.isna().sum().sum()
print('Number of NaN values:', nan_count)
null_count = df.isnull().sum().sum()
print('Number of null values:', null_count)

Number of NaN values: 0
Number of null values: 0

In [10]:
df.Continent.unique(), df.Year.unique()

(array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object),
 array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
        2007]))